<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OC to Swift oGL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OpenGLES.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RMX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RMXKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SKEENkit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SPReeeeEEETKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>kernal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50639E851A92BE4C00A94E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50639E9D1A92BE4C00A94E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50639EB81A92C00000A94E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50639ECE1A92C00100A94E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50639EE71A92C51B00A94E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50639EFF1A92C51B00A94E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50639F191A92C9C800A94E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B86F0C1A950BE7005D453C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B86F161A950BE7005D453C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B86F281A950C30005D453C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B86F321A950C30005D453C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DC37881A923D85006F7DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DC379F1A923D85006F7DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
